@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import "tailwindcss";

@font-face {
  font-family: 'pixelFont'; /* Dê um nome único e descritivo para sua fonte */
  src: url('fonts/fontePixel.TTF') format('truetype'); /* Ajuste o caminho e o nome do arquivo */
  font-weight: normal; /* Geralmente para fontes pixeladas, o peso é normal */
  font-style: normal;  /* O estilo é normal */
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  -ms-interpolation-mode: nearest-neighbor; /* IE */
  image-rendering: -webkit-optimize-contrast; /* Webkit (Safari, Chrome) */
  image-rendering: crisp-edges; /* Firefox, Opera, IE (newer versions) */
  image-rendering: pixelated; /* Chrome (newer versions), Edge */
}

.pixel-font {
  font-family: pixelFont, 'Press Start 2P', cursive;
}

.title-shadow {
  text-shadow: 4px 4px 0 #222, 8px 8px 0 #fff;
}

.outline {
  -webkit-text-stroke: 2px #222;
  text-stroke: 2px #222;
}

.pink {
  color: #ff00c8;
}

.yellow {
  color: #ffe600;
}

.green {
  color: #00ff00;
}

.orange {
  color: #ff8000;
}

.blue {
  color: #0000ff;
}

.red {
  color: #ff0000;
}

.purple {
  color: #800080;
}

.cyan {
  color: #00ffff;
}

@keyframes pulsar {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes left {
  from {
    transform: translateX(-10);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideIn {
  from {
    /* Estado inicial: fora da tela e invisível */
    transform: translateX(-100px); /* Move 100px para baixo */
    opacity: 0;
  }
  to {
    /* Estado final: na posição original e visível */
    transform: translateX(0);
    opacity: 1;
  }
}

/* Classe para aplicar a animação aos personagens */
.character-image {
  position: relative; /* Necessário para o transform funcionar bem no flex container */
  height: 100px;
  width: auto;
  opacity: 0; /* Começa invisível por padrão */

  /* Define as propriedades da animação */
  animation-name: slideIn;
  animation-duration: 0.7s; /* Duração da animação */
  animation-timing-function: ease-out;
  animation-fill-mode: forwards; /* Mantém o estado final da animação */
}

.player-entry {
  opacity: 0; 
  
  animation-name: slideDown;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;

  animation-fill-mode: forwards; 
}

@keyframes float {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0px);
  }
}

.first-place .pixel-font {
  animation-name: float;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.first-place .crown-icon {
  animation-name: float;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}